[Unit]
Description=Inky Soup image uploader
After=network.target

[Service]
ExecStart=/home/{{DEPLOY_USER}}/inky-soup/upload-server
WorkingDirectory=/home/{{DEPLOY_USER}}/inky-soup/
StandardOutput=inherit
StandardError=inherit
Restart=always
User={{DEPLOY_USER}}

[Install]
WantedBy=multi-user.target
