[Unit]
Description=Detect Inky Impression display
DefaultDependencies=no
After=local-fs.target
Before=inky-soup-server.service

[Service]
Type=oneshot
ExecStart=/usr/bin/inky-soup-detect-display
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
