[Unit]
Description=Detect Inky Impression display type
DefaultDependencies=no
Before=inky-soup-server.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/inky-soup-detect-display.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
