[Unit]
Description=Set hostname from /boot/hostname.txt
DefaultDependencies=no
Before=network-pre.target systemd-hostnamed.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/inky-soup-set-hostname.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
