[Unit]
Description=Inky Soup Display Detection
After=inky-soup-server.service
Requires=inky-soup-server.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=inky
WorkingDirectory=/home/inky/inky-soup

# Detect display type on boot.
ExecStart=/usr/bin/inky-soup-detect-display.sh

[Install]
WantedBy=multi-user.target
