[Unit]
Description=Bind mount persistent NetworkManager connections
After=persistent-data-init.service data.mount
Before=NetworkManager.service
Requires=persistent-data-init.service data.mount

[Service]
Type=oneshot
ExecStart=/bin/mount --bind /data/NetworkManager/system-connections /etc/NetworkManager/system-connections
ExecStop=/bin/umount /etc/NetworkManager/system-connections
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
