[Unit]
Description=Persistent data partition
After=local-fs-pre.target
Before=local-fs.target

[Mount]
What=/dev/disk/by-label/data
Where=/data
Type=ext4
Options=defaults,noatime

[Install]
WantedBy=local-fs.target
